---
layout: page
title: Class Schedule
---

<table>
<colgroup>
<col width="15%" />
<col width="25%" />
<col width="25%" />
<col width="25%" />
</colgroup><thead>
<tr class="header">
<th style="background-color:#167F92;color:#FFF;"> Session </th>
<th style="background-color:#167F92;color:#FFF;"> Reading </th>
<th style="background-color:#167F92;color:#FFF;"> Topics </th>
<th style="background-color:#167F92;color:#FFF;"> Material </th>
</tr>
</thead>

<tbody>
      {% assign stuff = site.data.date_convert | concat: site.data.assignments | sort: "date" %}
      {% for session in stuff %}


      {% capture week_day %}
      {% if session.class_num <= 20 %}
      {{ session.class_num | plus:1 | modulo:4 }}
      {% else %}
      {{ session.class_num | minus:1 | modulo:4 }}
      {% endif %}
      {% endcapture %}


      <!-- {% if week_day contains "0" %}
      {% assign style = "border_top" %}
      {% endif %} -->

      {% if session.type == "class_session" %}
      {% if site.data.schedule[session.class_num] %}
      {% assign event = site.data.schedule[session.class_num] %}

      <tr {% if event.bgcolor %} bgcolor="#{{event.bgcolor}}" {% endif %} >

        <td>
          {{ session.class_num }} <br/> {{ session.date | date: "%A" }} <br/> {{ session.date | date: "%b %d" }}
        </td>
          <td>
                  {% for item in event.reading %}
                  <li> {{ item }} </li>
                  {% endfor %}
          </td>
          <td>
                  {% for item in event.topics %}
                  <li> {{ item }} </li>
                  {% endfor %}
          </td>
          <td>
              {% for material in event.materials %}
              <a href="{{ site.github.repository_url }}/tree/master/ClassMaterials/{{ material }}">{{material}}</a><br/>
              {% endfor %}
              {{event.other | join: "<br/>"}}
          </td>

      </tr>
      {% else %} <!-- we have a class but it's not is schedule.yml -->
      <!-- {% capture week %}
      {{ session.class_num | minus:1 | modulo:4 }}
      {% endcapture %}
      {% assign style = ""%} -->

      <tr>
        <td class="center">
          {{ session.class_num }} <br/> {{ session.date | date: "%A" }} <br/> {{ session.date | date: "%b %d" }}
        </td>
        <td class="center" colspan="3" >
          N/A 
        </td>
      </tr>
      {% endif %}
      {% else %}
      {% unless {{session.name}} contains "#" %}
            <tr bgcolor="#ddf" >
        <td colspan="4">
          {% if session.dirname %}<a href="{{ site.github.repository_url }}/tree/master/Homework/{{ session.dirname }}">{{session.name}}</a>
          {% else %}{{session.name}}{% endif %} 
          DUE {{ session.date | date: "%A %D %l:%M %P" }}
          {% if session.moodle %}<a href="{{ session.moodle }}"> Submit Here</a>{% endif %}
          {% if session.grader %} <font color="#aaa"> grader: {{session.grader}}@</font> {% endif %} 
        </td>
      </tr>
      {% endunless %}
      {% endif %}

      {% endfor %}
    </tbody>
</table>
    
