/* Site Header
 * ============================================== */
    .site-header {
        height: 55px;
        background-color: #F5F5F5;
        position: relative;
        width: 100%;
    }

    .site-header a {color: $brand-color};

    .site-nav {
        padding-top: 16px;
        float: right;
        margin-right: 25px;
        text-transform: uppercase;

        .menu-icon {
            display: none;
        }

        @include media-query($on-palm) {
            position: absolute;
            top: 3px;
            right: 3px;
            background-color: $background-color;
            border: 1px solid $grey-color-light;
            border-radius: 5px;
            text-align: right;

            .menu-icon {
                display: block;
                float: right;
                width: 50px;
                height: 30px;
                line-height: 0;
                text-align: center;
            }

            .trigger {
                clear: both;
                display: none;
            }

            &:hover .trigger {
                display: block;
                padding-bottom: 5px;
            }
            .page-home {
                display: block;
                padding: 5px 10px;
            }

            .page-link {
                display: block;
                padding: 5px 10px;
            }
        }

        .page-home {
            font-family: 'Arial';
            font-weight: 400;
            font-size:24px;
            position: absolute;
            left: 10px;
            line-height: $base-line-height;
            letter-spacing: 0.05em;

            &:hover {
                opacity: 0.8
            };
        }

        .page-link {
            font-family: 'Open Sans';
            font-weight: 700 !important;
            line-height: $base-line-height;
            letter-spacing: 0.05em;


            &:not(:first-child) {
                    margin-left: 20px;
            }

            &:hover {
                opacity: 0.8
            };
        }
}

/* Site Footer
 * ============================================== */
    .footer {
        padding-bottom: 3em;
        margin: auto;
        font-size: 12px;
        font-family: Open Sans;
        color: #959595;
    }

    .footer.center {
      text-align: center;
    }

    .footer.center > * {
      margin: 0 auto;
    }

    .footer img {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        margin-bottom: 3px;
  }

/* Individual Posts
 * ============================================== */
    .page-content {
        padding: $spacing-unit 0;
        text-align: justify;
    }

    .page-heading {
        font-size: 20px;
        padding-top: 2px;
    }

/* Archive
 * ============================================== */
    .post-list {
        margin-left: 0;
        list-style: none;

        > li {
            display: block;
            padding: 0.1em 1.5em;
        }

    }

    .post-link {
        font-family: 'Open Sans';
        font-weight: 300;
        font-size: 1.5em;
        letter-spacing: -1px;
        color: #454545;
        display: block;
        width: 100%;

        @include media-query($on-palm) {
            font-size: 1.33em;
        }
    }

    .post-meta {
        font-size: $small-font-size;
        color: $grey-color-light;
        text-transform: uppercase;
        display: inline-block;
    }

/* Post Format
 * ============================================== */
    .post-header {
        margin-bottom: $spacing-unit;
    }

    .post-title {
        font-size: 42px;
        letter-spacing: -1px;
        line-height: 1;
    }

    .post-content {
        margin-bottom: $spacing-unit;
    }
/* Table for schedule
* =============================================== */


// Default options for table style
$table-breakpoint: 480px;
$table-background-color: #FFF;
$table-text-color: #024457;
$table-outer-border: 1px solid #167F92;
$table-cell-border: 1px solid #D9E4E6;

// Extra options for table style (parse these arguments when including your mixin)
$table-border-radius: 10px;
$table-highlight-color: #EAF3F3;
$table-header-background-color: #167F92;
$table-header-text-color: #FFF;
$table-header-border: 1px solid #FFF;

// The Responstable mixin

@mixin responstable(
  $breakpoint: $table-breakpoint,
  $background-color: $table-background-color,
  $text-color: $table-text-color,
  $outer-border: $table-outer-border,
  $cell-border: $table-cell-border,
  $border-radius: none,
  $highlight-color: none,
  $header-background-color: $table-background-color,
  $header-text-color: $table-text-color,
  $header-border: $table-cell-border) {

  .responstable {
    margin: 1em 0;
    width: 100%;
    overflow: hidden;
    background: $background-color;
    color: $text-color;
    border-radius: $border-radius;
    border: $outer-border;

    tr {
      border: $cell-border;
      &:nth-child(odd) { // highlight the odd rows with a color
        background-color: $highlight-color;
      }
    }
    tr.border_bottom {
      border: $cell-border;
      &:nth-child(odd) { // highlight the odd rows with a color
        background-color: $highlight-color;
      }
      border-bottom:3px solid #167F80;
    }

    th {
      display: none; // hide all the table header for mobile
      border: $header-border;
      background-color: $header-background-color;
      color: $header-text-color;
      padding: 1em;
      &:first-child { // show the first table header for mobile
        display: table-cell;
        text-align: center;
      }
      &:nth-child(2) { // show the second table header but replace the content with the data-th from the markup for mobile
        display: table-cell;
        span {display:none;}
        &:after {content:attr(data-th);}
      }
      @media (min-width: $breakpoint) {
        &:nth-child(2) { // hide the data-th and show the normal header for tablet and desktop
          span {display: block;}
          &:after2{display: none;}
        }
      }
    }

    td {
      display: block; // display the table data as one block for mobile
      word-wrap: break-word;
      max-width: 20em;
      &:first-child {
        display: table-cell; // display the first one as a table cell (radio button) for mobile
        border-right: $cell-border;
        text-align: center;
      }
      @media (min-width: $breakpoint) {
        border: $cell-border;
      }
    }

    
    th, td {
      text-align: left;
      margin: .5em 1em;
      @media (min-width: $breakpoint) {
        display: table-cell; // show the table as a normal table for tablet and desktop
        padding: 1em;
      }
    }
    td.center {
      text-align: center;
      margin: .5em 1em;
      @media (min-width: $breakpoint) {
        display: table-cell; // show the table as a normal table for tablet and desktop
        padding: 1em;
      }
    }
  }
}

// Include the mixin (with extra options as overrides)

@include responstable(
  $border-radius: $table-border-radius,
  $highlight-color: $table-highlight-color,
  $header-background-color: $table-header-background-color,
  $header-text-color: $table-header-text-color,
  $header-border: $table-header-border);

// General styles
